	<% if Consideration.count != 0 %>
			<div id="mini-hero" class="row vote-form">
				<%= render 'users/vote_form' %><br />
			</div>
			<div id="submitted">
				<%= render 'considerations/destroy_consideration' %> 
				submitted by <%= link_to "#{@consideration.user.name}", 
				user_path(@consideration.user) %> on <%= @consideration.created_at.strftime("%-m/%-d/%y") %>
				 • <%= link_to "permalink", consideration_path(@consideration) %>
			</div>
			<div class="tweet">
				<a href="https://twitter.com/intent/tweet?button_hashtag=considerating" class="twitter-hashtag-button" data-text="Considerate or creepy? Vote and help me decide! http://considerating.com/considerations/<%= @consideration.id %>">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="mini-hero home-bottom">
				<%= link_to "Random", root_path %> • <%= link_to "View All", index_path %>
			</div>
	<% end %>
</div>


