	<% if Consideration.count != 0 %>
			<div id="mini-hero" class="row vote-form">
				<%= render 'users/vote_form' %><br />
			</div>
			<div id="submitted">
				<%= render 'considerations/destroy_consideration' %> 
				<%= link_to "submitted by #{@consideration.user.name} 
				on #{@consideration.user.created_at.strftime("%-m/%-d/%y")}", 
				user_path(@consideration.user) %><% if !current_user %> - <%= link_to "sign in with Google", "/auth/google_oauth2" %> to vote!<% end %>
			</div>
			<div class="tweet">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Considerate or creepy? Vote and help me decide! http://considerating.com/considerations/<%= @consideration.id %>" data-hashtags="considerating">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
	<% end %>
</div>


