<div id="each-consideration" class="hero-unit delete-able">
    <span id="each">
    	<%= link_to wrap(consideration.content), consideration_path(consideration) %><br />
	</span>
	<% @consideration = consideration %>
	<div id="voting" class="vote-form">
		<%= render 'users/vote_form' %><br />
		<div id="submitted">
			<%= render 'considerations/destroy_consideration' %> 
			<%= link_to "submitted by #{consideration.user.name} 
			on #{consideration.user.created_at.strftime("%-m/%-d/%y")}", 
			user_path(consideration.user) %><% if !current_user %> - <%= link_to "sign in with Google", "/auth/google_oauth2" %> to vote!<% end %>
		</div>
	</div>
</div>