<div id="consideration-show" class="hero-unit">
	<div id="consideration-content-big" class="row">
		<%= wrap(@consideration.content) %>
	</div>
	<% if session[:user_id] != nil %>
		<div id="show-hero" class="row">
			<%= render 'users/vote_form' %>
		</div>
</div>
		<%= render 'shared/signed_in_page_bottom' %>
	<% else %>
		<div id="show-hero" class="row">
	 		(There have been <%= @consideration.votes_count %> votes on this consideration so far.)<br /> 
	 		<%= link_to "Sign in with Twitter to vote and see results!", "/auth/twitter" %>
		</div>
</div>
		<%= render 'shared/not_signed_in_page_bottom' %>
	<% end %>