<!DOCTYPE html>
<html>
	<head>
  		<title><%= yield(:title) %>Considerating</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
  		<script type="text/javascript" src="http://use.typekit.com/vff5mnj.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script src="http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/nav' %>
			<div id="banner">
				<%= link_to "Considerating.", root_path %>
			</div>
			<div class="main-body">
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>


