<!DOCTYPE html>
<html>
	<head>
  		<title><%= yield(:title) %>Considerating</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="row show-grid">
				<div class="span10 offset6" id="user_nav">
					<% if current_user %>
						<%= "Welcome #{current_user.name}!" %>
						<%= link_to "Sign out", signout_path %>
					<% else %>
						<%= link_to "Sign in with Twitter to vote and see results", "/auth/twitter" %>
					<% end %>
				</div>
			</div>
			<div class="row show-grid">
				<div class="span-one-third offset-one-third" id="pagetitle">
					<h1><%= yield(:title) %>Considerating</h1>
				</div>
			</div>
			<% if flash[:notice] %>
				<div id="flash">
      				<p class="notice"><%= flash[:notice] %></p>
      			</div>
    		<% end %>
    		<% if flash[:error] %>
    			<div id="flash">
      				<p class="error"><%= flash[:error] %></p>
      			</div>
    		<% end %>
			<%= yield %>
		</div>
	</body>
</html>
